<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>听音乐</title>
    <!-- 样式 -->
    <link rel="stylesheet" href="./css/音乐播放器.css">
</head>

<body>
    <div class="wrap">
        <!-- 播放器主图部分 -->
        <div class="play_wrap" id="player">
            <div class="search_bar">
                <img src="./img/player_title.png" alt="">
                <!-- 搜索歌曲 -->
                <input type="text" autocomplete="off" v-model="queary" @keyup.enter="searchMusic">
            </div>
            <div class="center_con">
                <!-- 搜索歌曲列表 -->
                <div class="song_wrapper">
                    <ul class="song_list">
                        <!-- <li><a href="javascript:;"></a><b>你好</b></li> -->
                        <li v-for="item in musicList"><a href="javascript:;" @click="playMusic(item.id)"></a><b>{{item.name}}</b><span v-if="item.mvid!=0" @click="playMv(item.mvid)"><i></i></span></li>
                    </ul>
                    <img src="./img/line.png" class="switch_btn" alt="">
                </div>
                <!-- 歌曲信息容器 -->
                <div class="player_con" :class="{playing:isPlaying}">
                    <img src="./img/player_bar.png" class="play_bar" alt="">
                    <!-- 黑胶碟片 -->
                    <img src="./img/disc.png" alt="" class="disc autoRotate">
                    <img :src="picUrl" alt="" class="cover autoRotate">
                </div>
                <!-- 评论容器 -->
                <div class="comment_wrapper">
                    <h5 class="title">热门留言</h5>
                    <div class="comment_list">
                        <dl v-for="item in commentArr">
                            <dt><img :src="item.user.avatarUrl" alt=""></dt>
                            <dd class="name">{{item.user.nickname}}</dd>
                            <dd class="detail">{{item.content}}</dd>
                        </dl>
                    </div>
                    <img src="./img/line.png" class="right_line" alt="">
                </div>
            </div>
            <div class="audio_con">
                <audio ref="audio" class="myaudio" controls autoplay loop :src="musicUrl" @play="play" @pause="pause"></audio>
            </div>
            <div class="video_con" v-show="isShow" style="display: none;">
                <video :src="mvUrl" controls="controls"></video>
                <div class="mask" @click="closeMv"></div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/music.js"></script>
</body>

</html>